{% extends "templates/base.html" %}
{% block content %}
  <ol class="breadcrumb mb-2">
    <li class="breadcrumb-item active">{{ title }}</li>
  </ol>
  <div class="row">
    <div class="col-xl-12">
      <div class="card-header">
        Manutenção de Funcionários
      </div>
      <div class="card-body">
        <div class="">
          <div style="margin-bottom: 15px;">
            <a href="/funcionario/insertFuncionario" class="btn btn-primary">
              Inserir novo funcionário
            </a>
          </div>
          <div style="background-color: #f8f9fa">
            <table id="tabFuncionario" class="display" style="width:100%">
              <thead>
                <tr>
                  <th>Ação</th>
                  <th>ID</th>
                  <th>Nome</th>
                  <th>Email</th>
                </tr>
              </thead>
              <tbody>
                {% for reg in data %}
                  <tr>
                    <td>
                      <a href="/funcionario/viewFuncionario/{{ reg.id }}" title="Visualizar">
                        <i class="fas fa-search"></i>
                      </a>
                      <a href="/funcionario/updateFuncionario/{{ reg.id }}" title="Atualizar" style="margin-left: 10px;">
                        <i class="fas fa-pencil-alt"></i>
                      </a>
                    </td>
                    <td>{{ reg.id }}</td>
                    <td>{{ reg.nome }}</td>
                    <td>{{ reg.email }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    window.onload = function () {
      windowOnLoad();
      const localErro = "{{ erro }}";
      if (localErro != "") {
        alert("[vwManutFuncionario|onload]Erro:" + localErro);
      }
      new DataTable('#tabFuncionario');
    };
  </script>
{% endblock %}