{% extends "templates/base.html" %}

{% block content %}

  <ol class="breadcrumb mb-2">
    <li class="breadcrumb-item active">{{title}}</li>
  </ol>
  <div class="row">
    <div class="col-xl-12">

      <div class="card-header">
        Manutenção de Empréstimos
      </div>

      <div class="card-body">
        <div class="">
          <div style="margin-bottom: 15px;">
            <a href="/emprestimo/insertEmprestimo" class="btn btn-primary">
              Inserir novo empréstimo
            </a>
          </div>

          <div style="background-color: #f8f9fa">
            <table id="tabEmprestimo" class="display" style="width:100%">
              <thead>
                <tr>
                  <th>Ação</th>
                  <th>Livro</th>
                  <th>Locador</th>
                  <th>Data Locação</th>
                  <th>Data Vencimento</th>
                  <th>Valor</th>
                </tr>
              </thead>
              <tbody>
                {% for reg in data %}
                  <tr>
                    <td>
                      {# Visualizar #}
                      <a href="/emprestimo/viewEmprestimo/{{ reg.id }}" title="Visualizar">
                        <i class="fas fa-search"></i>
                      </a>

                      {# Atualizar #}
                      <a href="/emprestimo/updateEmprestimo/{{ reg.id }}" title="Atualizar" style="margin-le
